@model IEnumerable<ShopApp.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div class="text-center">

        <h1 class="display-4">Welcome to StoreL</h1>
    </div>
    <div id="body">
        <div class="categoriesContainer">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="card col-3" style="width: 18rem;">
                        <img src="@item.CategoryImage" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <a asp-action="Index" asp-controller="Products" asp-route-categoryId="@item.ID" class="btn btn-primary">View products</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>


